<!-- <p>
  <img src="{{imageHsm}}"> name :{{nameH}}, durability :{{durability}}, idHero :{{idHero}}, power :{{powerH}}, speed :{{speedH}}, strength :{{strengthH}},
  intelligence :{{intelligenceH}}
  <button (click)="attack1()">attack1</button>
  <br>
  <img src="{{imageHsm2}}"> name :{{nameH2}}, durability :{{durability2}}, idHero :{{idHero2}}, power :{{powerH2}}, speed :{{speedH2}}, strength :{{strengthH2}},
  intelligence :{{intelligenceH2}}
  <button (click)="attack2()">attack2</button>
</p>

</p> -->
<div class="container-fluid" *ngIf="isLive">
  <div class="select_bg">
    <div class="row justify-content-center">
      <div class="col-12 text-center selectTitle">
        <h1>SELECT YOUR HERO !</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div *ngFor="let hero of ids; let i = index" class="col-2 text-center heroCard" [id]="'heroCard' + i">
        <img class="heroImg" (click)="test(hero, i)" [src]="hero.images.sm" />
        <div class="heroText">
          {{hero.name}}
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <button type="button" class="btn btn-primary fightBtn" (click)="liveGame()">FIGHT !</button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!isLive">
  <div class="combat_bg">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <img class="logo" src="./../../assets/logo.png">
      </div>
    </div>
    <div class="row">
      <div class="col-4 text-center justify-content-center heroInGame">
        <h3 class="heroName">{{selected[0].name}}</h3>
        <br/>
        <img class="heroImg" src={{selected[0].images.md}}/>
        <p class="hp_bar">
          <ngb-progressbar class="hpBar" type="success" max="100" value="{{selected[0].powerstats.durability}}">{{selected[0].powerstats.durability}}</ngb-progressbar>
        </p>
        <div class="spellsBack" *ngIf="turn == 0">
          <button class="lifeBtn spellBtn" placement="top" ngbTooltip="Steals Life" (click)="Lifesteal()"></button>
          <button class="powerBtn spellBtn" placement="top" ngbTooltip="Light Attack" (click)="powerShoot()"></button>
          <button class="atqBtn spellBtn" placement="top" ngbTooltip="Heavy Attack" (click)="attackH1()" [disabled]="onlyOne == 1"></button>
          <button class="healBtn spellBtn" placement="top" ngbTooltip="Heal" (click)="heal()" [disabled]="healOne == 1"></button>
        </div>
      </div>
      <div class="col-4 offset-4 text-center heroInGame">
        <h3 class="heroName">{{selected[1].name}}</h3>
        <br/>
        <img class="heroImg" src={{selected[1].images.md}}/>
        <p class="hp_bar">
          <ngb-progressbar class="hpBar" type="success" max="100" value="{{selected[1].powerstats.durability}}">{{selected[1].powerstats.durability}}</ngb-progressbar>
        </p>
        <div class="spellsBack" *ngIf="turn == 1">
          <button class="lifeBtn spellBtn" placement="top" ngbTooltip="Steals Life" (click)="Lifesteal2()"></button>
          <button class="powerBtn spellBtn" placement="top" ngbTooltip="Light Attack" (click)="powerShoot2()"></button>
          <button class="atqBtn spellBtn" placement="top" ngbTooltip="Heavy Attack" (click)="attackH2()" [disabled]="onlyTwo == 1"></button>
          <button class="healBtn spellBtn" placement="top" ngbTooltip="Heal" (click)="heal2()" [disabled]="healTwo == 1"></button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{selected[this.winner].name}} Win !</h4>

      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>
        <img class="heroImg" style="border-radius:100px" src={{selected[this.winner].images.xs}}/>You are way better than your opponent ! &hellip;</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="goGame(); c('Close click')">Return to game</button>
    </div>
  </ng-template>
</div>
