<!-- <p>
  <img src="{{imageHsm}}"> name :{{nameH}}, durability :{{durability}}, idHero :{{idHero}}, power :{{powerH}}, speed :{{speedH}}, strength :{{strengthH}},
  intelligence :{{intelligenceH}}
</p> -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h1>TURN [number]</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3>{{nameH}}</h3>
      <br/>
      <img src="{{imageHsm}}">
      <p class="hp_bar">
        <ngb-progressbar type="success" [value]="100"></ngb-progressbar>
      </p>
    </div>
    <div class="col-3 offset-6">
      <h3>{{nameH}}</h3>
      <br/>
      <img src="{{imageHsm}}">
      <p class="hp_bar">
        <ngb-progressbar type="success" [value]="100"></ngb-progressbar>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <h3>SKILLS</h3>
      <button type="button" class="btn btn-primary">Light Attack</button>
      <button type="button" class="btn btn-primary">Heavy Attack</button>
    </div>
    <div class="col-3 offset-6">
      <h3>SKILLS</h3>
      <button type="button" class="btn btn-primary">Light Attack</button>
      <button type="button" class="btn btn-primary">Heavy Attack</button>
    </div>
  </div>
</div>
