<!-- <p>
  <img src="{{imageHsm}}"> name :{{nameH}}, durability :{{durability}}, idHero :{{idHero}}, power :{{powerH}}, speed :{{speedH}}, strength :{{strengthH}},
  intelligence :{{intelligenceH}}
  <button (click)="attack1()">attack1</button>
  <br>
  <img src="{{imageHsm2}}"> name :{{nameH2}}, durability :{{durability2}}, idHero :{{idHero2}}, power :{{powerH2}}, speed :{{speedH2}}, strength :{{strengthH2}},
  intelligence :{{intelligenceH2}}
  <button (click)="attack2()">attack2</button>
</p>

</p> -->
<div class="container-fluid" *ngIf="isLive">
  <div class="select_bg">
    <div class="row justify-content-center">
      <div class="col-12 text-center selectTitle">
        <h1>SELECT YOUR HERO</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div *ngFor="let hero of ids; let i = index" class="col-2 text-center heroCard" [id]="'heroCard' + i">
        <img class="heroImg" (click)="test(hero, i)" [src]="hero.images.sm" />
        <div class="heroText">
          {{hero.name}}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="button" class="btn btn-primary fightBtn" (click)="liveGame()">FIGHT</button>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="!isLive">
  <div class="combat_bg">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1>TURN [number]</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-3 text-center">
        <h3>{{selected[0].name}}</h3>
        <br/>
        <img class="heroImg" src={{selected[0].images.md}}/>
        <p class="hp_bar">
          <ngb-progressbar type="success" [value]="hp"></ngb-progressbar>
        </p>
      </div>
      <div class="col-3 offset-6 text-center">
        <h3>{{selected[1].name}}</h3>
        <br/>
        <img class="heroImg" src={{selected[1].images.md}}/>
        <p class="hp_bar">
          <ngb-progressbar type="success" [value]="100"></ngb-progressbar>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h3>SKILLS</h3>
        <button type="button" class="btn btn-primary">Light Attack</button>
        <button type="button" class="btn btn-primary">Heavy Attack</button>
      </div>
      <div class="col-3 offset-6">
        <h3>SKILLS</h3>
        <button type="button" class="btn btn-primary">Light Attack</button>
        <button type="button" class="btn btn-primary" click="attack1()">Heavy Attack</button>
      </div>
    </div>
  </div>
</div>
