<div class="container-fluid">
  <div class="bg"></div>
  <div class="row justify-content-center">
    <img class="logo" src="./../../assets/logo.png">
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <button type="button" class="btn" (click)="playGame()">Play Game !</button>
    </div>
  </div>
  <div class="row justify-content-center align-items-end">
    <div class="col-12 text-center credits">
      <p>Made in 24 hours by Perrin Benjamin and Bellamy Guillaume - Wild Code School 2018</p>
    </div>
  </div>
</div>
